################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/ProjektIP/obj/Debug/netcoreapp2.0
