
@{
	ViewData["Title"] = "DODAJ PRACOWNIKA";
}

<div class="row">
	<div class="row col-md-6">
		<h3>AddUser</h3>
		<form action="/Home/AddUser" method="post">
			<div>
				<label class="control-label control-margin">Dane osobowe:</label>
				<input class="form-control control-margin" type="text" name="name" placeholder="Imię" />
				<input class="form-control control-margin" type="text" name="surname" placeholder="Nazwisko" />
				<input class="form-control control-margin" type="text" name="email" placeholder="E-mail" />
				<input class="form-control control-margin" type="text" name="phone" placeholder="Telefon" />
				<select class="custom-select form-control control-margin" id="position">
					<option selected>Stanowisko</option>
					<option value="1">Kierownik</option>
					<option value="2">Programista</option>
					<option value="3">Tester</option>
					<option value="4">Grafik</option>
					<option value="5">Projektant</option>
					<option value="6">Analityk</option>
					<option value="7">Administrator bazy danych</option>
				</select>
			</div>

			<div class="row">
				<label class="control-label">Uprawnienia:</label>
			</div>
			<div class="row">
				<input id="addNewEmployee" type="checkbox" />
				<label class="control-label">Dodanie nowego pracownika</label>
			</div>
			<div class="row">
				<input id="addNewTask" type="checkbox" />
				<label class="control-label">Dodanie nowego zadania</label>
			</div>
			<div class="row">
				<input id="addNewEvent" type="checkbox" />
				<label class="control-label">Dodajanie nowego wydarzenia</label>
			</div>
			<div class="row">
				<input id="previewEmployees" type="checkbox" />
				<label class="control-label">Podgląd innych pracowników</label>
			</div>
			<div class="row">
				<input class="btn btn-primary" type="submit" name="cancel" value="Anuluj" />
				<input class="btn btn-primary" type="submit" name="submit" value="Zatwierdź" />
			</div>
		</form>
	</div>
</div>
