
@{
    ViewData["Title"] = "Info";
}

<div>
	<h3>Kilka przydatnych informacji :)</h3>
	<p>Domyślnie Visual ma włączone debugowanie w przeglądarce czy jakoś tak... proponuje to wyłączyć, wszystko będzie działać szybciej :D Opcje ->debugowanie -> odznaczyć "Włącz debugowanie JavaScript dla przeglądarek chrome i ie"</p>
	<hr />
	<h3>Więcej informacji!!!</h3>
	<p>Jeśli dokonało się jakieś brutalnej zmiany to proszę o dopisanie informacji w zakładce poniżej ;) (oprócz informacji o tym na facebooku)</p>
	<p><b>W celu zachownaia w miarę porządku, są utworzone foldery w projekcie:</b></p>
	<ul>
		<li>DAO: na wszystko co związane z bazą danych, zapytanie, klasy z metodamy itd (<b>DAWNIEJ Database !!!</b>)</li>
		<li>Content: obrazki</li>
		<li>Common: klasy c# nie będące modelem controlerem</li>
		<li>wwwroot/css/StyleSheet.css: arkusz styli</li>
	</ul>
	<hr />
	<h3>Informacje o zmianach w projekcie</h3>
	<p>Zmiany nazw!!!</p>
	<ul>
		<li>widok Login (kontroler Home) teraz nazywa się MainPage</li>
		<li>folder database -> DAO</li>
		<li>Metody w kontrolerach!! na przykładzie task: AddTask -> zwraca partialView formatki dodawania tasków, PushAddTaskToDB -> zapisuje model do bazy, przekierowywuje do Home/MainPage</li>
	</ul>
	<p><b>połączono wersje Darii z 05.04.2018 z wersją Szymona </b></p>
	<p>formatka dodawania tasków jest w oknie modalnym (drugi guzik od prawej), wzorować się na tym przy tworzeniu formatek, instrukcja działania modalu -> pytać Szymona</p>
	<hr />
	<p><b>Uwagi</b></p>
	<p>Daria proszę popraw ścieżki do obrazków w twojej formatce :3 (sciezka Content/Image - wszystkie aktualne obrazki obecne)</p>
	<p>Jeśli komuś nie działają zmiany w stylach to wyczyścić solucje, zbuildować solucje, odświeżyć strone - ctrl + F5, dzieje się to chyba po ściagnięciu projektu, visual gubi się w tym czy ktoś coś zmieniał (taka teoria spiskowa xD)</p>
</div>

