
@{
    ViewData["Title"] = "Info";
}

<div>
	<h3>Kilka przydatnych informacji :)</h3>
	<p>Jako że nie było strajków spróbujemy zrobić projekt w mvc</p>
	<p>Tą stronę z informacjami wkrótce przerzuce na inną podstronę</p>
	<p>Projekt jest dostępny na dysku google</p>
	<p>Jest założony w visual studio 2017</p>
	<p>Domyślnie Visual ma włączone debugowanie w przeglądarce czy jakoś tak... proponuje to wyłączyć, wszystko będzie działać szybciej :D Opcje ->debugowanie -> odznaczyć "Włącz debugowanie JavaScript dla przeglądarek chrome i ie"</p>
	<hr />
	<h3>Więcej informacji!!!</h3>
	<p>Każdy kto dokona zmian wrzuca cały projekt na dysk, do folderu z datą i imieniem (najlepiej informacją co się zrobiło, może utworzymy jakiś arkusz? ), no chyba że chcemy kożystać z gita :o</p>
	<p>Będę to łączyć, myślę że nie będzie to trudne, ponieważ nie ma nas tak dużo a każdy jest odpowiedzialny za coś innego :)</p>
	<p>Logowanie i rejestracja zostało wygenerowane automatycznie przy tworzeniu projektu, zostanie zmienione najpewniej :P</p>
	<p>Jeśli dokonało się jakieś brutalnej zmiany to proszę o dopisanie informacji w zakładce poniżej ;) (oprócz informacji o tym na facebooku)</p>
	<p><b>W celu zachownaia w miarę porządku, są utworzone foldery w projekcie:</b></p>
	<p>- Database: na wszystko co związane z bazą danych, zapytanie, klasy z metodamy itd</p>
	<p>- Content: obrazki i style</p>
	<p><b>Po za tymi dwoma folderami istnieją oczywiście jeszcze te od mvc ;) W Model trzeba będzie utworzyć klasy odpowiadające tabelą w bazie np: klasa pracownik, posiadająca pola takie jak kolumny w bazie</b></p>
	<hr />
	<h3>Informacje o zmianach w projekcie</h3>
	<p></p>
	<p></p>
</div>

