@model ProjektIP.Models.MeetingModel

<script>

    $(function () {
        $('[data-toggle="tooltipTask"]').tooltip(
            {
                trigger: 'hover'
            }
        );
        getEmployees()
    });

    // Uczestnicy wydarzenia
    function getEmployees() {
        $.ajax({
            type: "GET",
            url: "/Employee/MemberList/",
            success: function (viewHTML) {
                $("#employees").html(viewHTML);
            },
            error: function (errorData) {
                console.log(errorData);
            }
        });
    }

    // Typ wydarzenia
    document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
    function switchPhone(img) {
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/phone_color.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(3);

            document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
        else {
            img.src = "../Content/Image/phone_grey.png";
            $("#typeId").val(0);
        }
    }

     document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
    function switchCar(img) {
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/car_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(2);

            document.getElementById("location").style.display = "initial";
            document.getElementById("roomName").style.display = "none";
            $("#roomId").val(null);
        }
        else {
            img.src = "../Content/Image/car_grey.png";
            $("#typeId").val(0);
            document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
    }

     document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
    function switchMeeting(img) {
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/meeting_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(1);

            document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
        else {
            img.src = "../Content/Image/meeting_grey.png";
            $("#typeId").val(0);
        }
    }

     document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
    function switchSchool(img) {
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/school_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            $("#typeId").val(4);

            document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
        else {
            img.src = "../Content/Image/school_grey.png";
            $("#typeId").val(0);
        }
    }

    // Data od
    // Data do
    function changeDate() {
        var value = $("#datestart").val();
        $("#dateend").val(value);
    }

    // Pokój
    document.getElementById("location").style.display = "none";
    function changeRoom() {
        var value = $("#roomName").val();
        if (value != "inne") {
            $("#roomId").val(value);
            document.getElementById("location").style.display = "none";
            $("#locationName").val("");
        }
        else {
            $("#roomId").val(null);
            document.getElementById("location").style.display = "initial";
        }
    }

    // Wybrani uczestnicy wydarzenia
    function changeEmployee(id) {
        if ($("#listEmployee" + id).hasClass("border-to-members")) {
            var string = "";
            string = newIdMembers.value;

            var split = string.split(",");

            split.forEach((item, index) => {
                if (item == id) {
                    split[index] = null;
                }
            });
            $("#listEmployee" + id).removeClass("border-to-members");
            var join = split.join();
            $("#newIdMembers").val(join);
        }
        else {
            $("#listEmployee" + id).addClass("border-to-members");
            $("#newIdMembers").val(newIdMembers.value + id + ",");
        }
    }

</script>

<div class="row">
    <form id="partialViewForm" action="/Meeting/PushAddMeetingToDB" method="post">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden>
                <input asp-for="MeetingTypeId" id="typeId" class="form-control" />
            </div>
            <div row>
                <label asp-for="MeetingTypeId" class="control-label">Typ wydarzenia: </label>
                <br />
                <img height="50" width="50" onclick="switchPhone(this)" id="imgPhone" title="Tele konferencja" data-toggle="tooltipTask" class="grey-tooltip" />
                <img height="50" width="50" onclick="switchCar(this)" id="imgCar" title="Wyjazd" data-toggle="tooltipTask" class="grey-tooltip" />
                <img height="50" width="50" onclick="switchMeeting(this)" id="imgMeeting" title="Spotkanie" data-toggle="tooltipTask" class="grey-tooltip" />
                <img height="50" width="50" onclick="switchSchool(this)" id="imgSchool" title="Szkolenie" data-toggle="tooltipTask" class="grey-tooltip" />
            </div>
            <div class="form-group margin-top-20">
                <input asp-for="Title" class="form-control" placeholder="Nazwa wydarzenia" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <label asp-for="DateStart" class="control-label">Data od:</label>
            <div row>
                <div class="col-md-6 form-group">
                    <input asp-for="DateStart" class="form-control" name="datestart" id="datestart" onchange="changeDate()" />
                    <span asp-validation-for="DateStart" class="text-danger"></span>
                </div>
                <div class="col-md-6 form-group ">
                    <input asp-for="HourStart" class="form-control" placeholder="00:00:00" />
                    <span asp-validation-for="HourStart" class="text-danger"></span>
                </div>
            </div>
            <label asp-for="DateEnd" class="control-label">Data do:</label>
            <div row>
                <div class="col-md-6 form-group">
                    <input asp-for="DateEnd" class="form-control" name="dateend" id="dateend" />
                    <span asp-validation-for="DateEnd" class="text-danger"></span>
                </div>

                <div class="col-md-6 form-group ">
                    <input asp-for="HourEnd" class="form-control" placeholder="00:00:00" />
                    <span asp-validation-for="HourEnd" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group margin-top-20" id="room">
                <span asp-validation-for="RoomName" class="text-danger"></span>
                <select class="custom-select form-control" name="roomId" id="roomName" onchange="changeRoom()">
                    <option value="" disabled selected>Pokój:</option>
                    @foreach (var item in ViewBag.listOfRooms)
            {
                <option value=@(item[0])>@(item[1])</option>
    }
                    <option value="inne">Inne</option>
                </select>
            </div>
            <div class="form-group margin-top-20" id="location">
                <input asp-for="Location" class="form-control " placeholder="Lokalizacja" id="locationName" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group margin-top-20">
                <input asp-for="Note" class="form-control" placeholder="Opis" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <span asp-validation-for="PriorityId" class="text-danger"></span>
            <select class="custom-select form-control margin-bottom-20 margin-top-20" name="priorityId" id="priorityId">
                <option value="" disabled selected>Priorytet:</option>
                <option value="1">Pilny</option>
                <option value="2">Normalny</option>
                <option value="3">Niski</option>
                <option value="4">Opcjonalny</option>
            </select>
        </div>
        <div class="col-md-6 main-height">
            <div style="margin-left:75px" class="form-group" id="employee"></div>
            <div class="border-corners task-height scroll5 scroll-container" id="employees"></div>
        </div>
        <div hidden>
            <input name="IdMembers" id="IdMembers" class="form-control" value="@(ViewBag.membersId)" />
            <input name="newIdMembers" id="newIdMembers" class="form-control" />
        </div>
    </form>
</div>

