@model ProjektIP.Models.MeetingModel

<script>
    $(function () {
        $('[data-toggle="tooltipTask"]').tooltip(
            {
                trigger: 'hover'
            }
        );
        getEmployees();
    });

    //Polski język w datepickerze
    $.fn.datepicker.dates['polski'] = {
        days: ["Niedziela", "Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota"],
        daysShort: ["Nie", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob"],
        daysMin: ["N", "P", "W", "Ś", "C", "Pt", "S"],
        months: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Październik", "Listopad", "Grudzień"],
        monthsShort: ["Sty", "Lut", "Mar", "Kwi", "Maj", "Cze", "Lip", "Sie", "Wrz", "Paź", "Lis", "Gru"],
        today: "Dzisiaj",
        clear: "Wyczyść",
        format: "dd.mm.yyyy",
        titleFormat: "MM yyyy", /* Leverages same syntax as 'format' */
        weekStart: 1
    };

    // DatePicker
    $(document).ready(function () {
        var date_input = $('input[id="date"]'); //our date input has the name "date"
        var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
        var today = '@(ViewBag.Today)';
        date_input.datepicker({
            container: container,
            todayHighlight: false,
            autoclose: true,
            orientation: 'top',
            language: 'polski',
            todayHighlight: true,
            startDate: today
        })
    })

	function openDatePicker(target) {
		$('[name = "' + target + '"]').datepicker('show');
	}

    //ClockPicker
    $('.clockpicker').clockpicker();

    // Uczestnicy wydarzenia
    function getEmployees() {
        $.ajax({
            type: "GET",
            url: "/Employee/MemberList/",
            success: function (viewHTML) {
                $("#employees").html(viewHTML);

                $(".employee-list-item").removeClass("border-to-members");
            },
            error: function (errorData) {
                console.log(errorData);
            }
        });
    }

    // Typ wydarzenia
    document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
    function switchPhone(img) {
        var location = document.getElementById("locationName").value;
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/phone_color.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(3);

            if (location == "" || location == null) {
                document.getElementById("location").style.display = "none";
                $("#roomName").val(null);
            }
            document.getElementById("roomName").style.display = "initial";
            
        }
        else {
            img.src = "../Content/Image/phone_grey.png";
            $("#typeId").val(0);
        }
    }

    document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
    function switchCar(img) {
        var location = document.getElementById("locationName").value;
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/car_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(2);

            document.getElementById("location").style.display = "initial";
            document.getElementById("roomName").style.display = "none";
            $("#roomId").val(null);
            $("#roomName").val("inne");
        }
        else {
            img.src = "../Content/Image/car_grey.png";
            $("#typeId").val(0);
            if (location == "" || location == null) 
                document.getElementById("location").style.display = "none";
            document.getElementById("roomName").style.display = "initial";
        }
    }

    document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
    function switchMeeting(img) {
        var location = document.getElementById("locationName").value;
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/meeting_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
            $("#typeId").val(1);

            if (location == "" || location == null) {
                document.getElementById("location").style.display = "none";
                $("#roomName").val(null);
            }
            document.getElementById("roomName").style.display = "initial";
        }
        else {
            img.src = "../Content/Image/meeting_grey.png";
            $("#typeId").val(0);
        }
    }

    document.getElementById("imgSchool").src = "../Content/Image/school_grey.png";
    function switchSchool(img) {
        var location = document.getElementById("locationName").value;
        if (img.src.substr(-8) === "grey.png") {
            img.src = "../Content/Image/school_color.png";
            document.getElementById("imgPhone").src = "../Content/Image/phone_grey.png";
            document.getElementById("imgCar").src = "../Content/Image/car_grey.png";
            document.getElementById("imgMeeting").src = "../Content/Image/meeting_grey.png";
            $("#typeId").val(4);

            if (location == "" || location == null) {
                document.getElementById("location").style.display = "none";
                $("#roomName").val(null);
            }
            document.getElementById("roomName").style.display = "initial";
        }
        else {
            img.src = "../Content/Image/school_grey.png";
            $("#typeId").val(0);
        }
    }

    // Pokój
    document.getElementById("location").style.display = "none";
    function changeRoom() {
        var value = $("#roomName").val();
        if (value != "inne") {
            $("#roomId").val(value);
            document.getElementById("location").style.display = "none";
            $("#locationName").val("");
        }
        else {
            $("#roomId").val(null);
            document.getElementById("location").style.display = "initial";
        }
    }

    // Wybrani uczestnicy wydarzenia
    function changeEmployee(id) {
        if ($("#listEmployee" + id).hasClass("border-to-members")) {
            var string = "";
            string = newIdMembers.value;

            var split = string.split(",");

            split.forEach((item, index) => {
                if (item == id) {
                    split[index] = null;
                }
            });
            $("#listEmployee" + id).removeClass("border-to-members");
            var join = split.join();
            $("#newIdMembers").val(join);
        }
        else {
            $("#listEmployee" + id).addClass("border-to-members");
            $("#newIdMembers").val(newIdMembers.value + id + ",");
        }
    }
    

</script>

<div class="row">
    <form id="partialViewForm" action="/Meeting/PushAddMeetingToDB" method="post">
        <div class="col-md-6">
            <h4>Dane wydarzenia:</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden>
                <input asp-for="MeetingTypeId" id="typeId" class="form-control" />
            </div>
            <div row>
                <label asp-for="MeetingTypeId" class="control-label">Typ wydarzenia: </label>
                <br />
                <img height="50" width="50" onclick="switchPhone(this)" id="imgPhone" title="Tele konferencja" data-toggle="tooltipTask" class="grey-tooltip img-button" />
                <img height="50" width="50" onclick="switchCar(this)" id="imgCar" title="Wyjazd" data-toggle="tooltipTask" class="grey-tooltip img-button" />
                <img height="50" width="50" onclick="switchMeeting(this)" id="imgMeeting" title="Spotkanie" data-toggle="tooltipTask" class="grey-tooltip img-button" />
                <img height="50" width="50" onclick="switchSchool(this)" id="imgSchool" title="Szkolenie" data-toggle="tooltipTask" class="grey-tooltip img-button" />
            </div>
            <div class="form-group margin-top-20">
                <input asp-for="Title" class="form-control" placeholder="Nazwa wydarzenia" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <label asp-for="DateStart" class="control-label">Data od:</label>

            <div class="form-group input-group">
                <input asp-for="DateStart" class="form-control" id="date" name="datestart" placeholder="DD.MM.YYYY" type="text" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
                <span class="input-group-addon img-button" onclick="openDatePicker('datestart')">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="form-group input-group clockpicker" data-autoclose="true">
                <input asp-for="HourStart" class="form-control" placeholder="00:00" />
                <span asp-validation-for="HourStart" class="text-danger"></span>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>

            <label asp-for="DateEnd" class="control-label">Data do:</label>
            <div class="form-group input-group">
                <input asp-for="DateEnd" class="form-control" id="date" name="dateend" placeholder="DD.MM.YYYY" type="text" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
                <span class="input-group-addon img-button" onclick="openDatePicker('dateend')">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <div class="form-group input-group clockpicker" data-autoclose="true">
                <input asp-for="HourEnd" class="form-control" placeholder="00:00" />
                <span asp-validation-for="HourEnd" class="text-danger"></span>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-time"></span>
                </span>
            </div>

            <div class="form-group margin-top-20" id="room">
                <span asp-validation-for="RoomName" class="text-danger"></span>
                <select class="custom-select form-control" name="roomId" id="roomName" onchange="changeRoom()">
                    <option value="" disabled selected>Pokój:</option>
                    @foreach (var item in ViewBag.listOfRooms)
            {
                <option value=@(item[0])>@(item[1])</option>
    }
                    <option value="inne">Inne</option>
                </select>
            </div>
            <div class="form-group margin-top-20" id="location">
                <input asp-for="Location" class="form-control " placeholder="Lokalizacja" id="locationName" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <span asp-validation-for="PriorityId" class="text-danger"></span>
            <select class="custom-select form-control margin-bottom-20 margin-top-20" name="priorityId" id="priorityId">
                <option value="" disabled selected>Priorytet:</option>
                <option value="1">Pilny</option>
                <option value="2">Normalny</option>
                <option value="3">Niski</option>
                <option value="4">Opcjonalny</option>
            </select>
            <div class="form-group margin-top-20">
                <textarea asp-for="Note" rows="3" class="form-control scroll-container scroll5" placeholder="Opis" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 main-height">
            <h4>Wybierz uczestników:</h4>
            <div style="margin-left:75px" class="form-group" id="employee"></div>
            <div class="border-corners task-height scroll5 scroll-container" id="employees"></div>
        </div>
        <div hidden>
            @* <input name="IdMembers" id="IdMembers" class="form-control" value="@(ViewBag.membersId)" />*@
            <input name="newIdMembers" id="newIdMembers" class="form-control" />
        </div>
    </form>
</div>

