.control-margin {
	margin: 20px 0;
}

.marging-top-50 {
	margin-top: 50px;
}

.marging-top-70 {
	margin-top: 70px;
}

.background-blue {
	background-color: #4472c4;
}

.border-corners {
	border-radius: 25px;
	padding: 20px;
	border: 6px solid #4472c4;
}


.login-control {
	width: 80%;
	border: 2px solid #4472c4;
	margin: 0 10% 20px 10%;
}

.font-white {
	color: white;
}


.font-blue {
	color: #4472c4;
}


.margin-right-10p {
	margin-right: 10%;
}

.btn-login {
	width: 150px;
	font-weight: bold;
}

a {
	color: white !important;
}

	a:hover {
		color: darkgray !important;
	}

.border-corners-bottom {
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

@media(max-width:990px) {
	.hidden-image {
		display: none;
	}
}

.main-height {
	height: 66vh;
}

.task-height {
	height: calc(100% - 55px);
}

.employee-height {
	height: calc(100% - 75px);
}

.title-height {
	height: 45px;
}

.half-height {
	height: calc(50%-55px);
}

.button-container {
	height: 55px;
}

.max-height {
	height: 100%;
}

.border-side {
	border-left: 3px solid #4472c4;
	border-right: 3px solid #4472c4;
}

.date-container {
	text-align: center;
	border-bottom: 3px solid #4472c4;
	height: 55px;
	position: absolute;
	top: 61px;
	background-color: white;
	overflow: hidden;
	width: calc(33.33333% - 36px);
	z-index: 5;
}

.title-container {
	text-align: center;
	border-bottom: 3px solid #4472c4;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
	overflow: hidden;
}

.date-text {
	font-size: x-large;
	width: 100%;
}

.scroll-container {
	overflow-y: scroll;
	overflow-x: hidden;
}

.meeting-container {
	width: calc(33.33333% - 26px);
	height: 100%;
	float: left;
	padding-top: 55px;
}

.task-container {
	width: calc(100% - 55px);
	height: 98%;
	margin: 0 auto;
}


.meeting-bar {
	width: 3px;
	background-color: #4472c4;
	height: 100%;
	float: left;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0;
	z-index: 6;
}

.side-button-container {
	width: 30px;
	float: left;
	height: 100%;
	z-index: 5;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
}

.border-corners.scroll-container {
	padding: 0;
}

.meeting-container .colapsed {
	margin-left: 7px;
	margin-right: 7px;
	width: calc(100% - 14px);
}

.meeting-fill-container {
	height: 20px;
	width: 100%;
	background-color: white;
	position: sticky;
	bottom: 0;
}

.meeting-container .card-body {
	margin-left: 6px;
	margin-right: 6px;
	width: calc(100% - 12px);
}

.task-bar {
	width: 100%;
	background-color: #4472c4;
	height: 3px;
	float: left;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin: 0 0px;
}

.background-lightblue {
	background-color: #96cbf6;
}

.background-yellow {
	background-color: #ffc576;
}

.background-red {
	background-color: #ff807c;
}

.background-green {
	background-color: #2ed2a6;
}

.max-width {
	width: 100%;
}

.border {
	border: 2px solid #4472c4;
	padding: 5px;
}

.padding-top-bottom-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.margin-top-minus10 {
	margin-top: -10px;
}


.margin-left-20 {
	margin-left: 20px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

/* ---------- Bordery --------------- */
.border-type-yellow {
	border-bottom: 2px solid #ffc576;
	border-left: 2px solid #ffc576;
	border-right: 2px solid #ffc576;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px;
}

.border-type-lightblue {
	border-bottom: 2px solid #96cbf6;
	border-left: 2px solid #96cbf6;
	border-right: 2px solid #96cbf6;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px;
}

.border-type-red {
	border-bottom: 2px solid #ff807c;
	border-left: 2px solid #ff807c;
	border-right: 2px solid #ff807c;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px;
}

.border-type-green {
	border-bottom: 2px solid #2ed2a6;
	border-left: 2px solid #2ed2a6;
	border-right: 2px solid #2ed2a6;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 5px;
}
/* ---------- Bordery --------------- */
/* ----------   END   --------------- */

/* ---------- Modal --------------- */
.modal-inner-body {
	margin: 0 20px;
}

.large-modal {
	width: 80vw;
}

.modal-button {
	width: 50px;
	height: 50px;
	margin: 2.5px 5px 2.5px 5px;
	padding: 0;
	outline: none;
}

	.modal-button.left {
		float: left;
	}

	.modal-button.right {
		float: right;
	}

	.modal-button:hover {
		border: 2px solid #4472c4;
		background-color: #668ace;
	}

.right-button-group {
	float: right;
}

.left-button-group {
	float: left;
}

.modal-button-img {
	width: 45px;
	height: 45px;
	margin: 0 auto;
}

.modal-button-visible {
	display: initial;
}

.modal-button-unvisible {
	display: none;
}

.modal-button-menu-white {
	background-color: white;
	outline: none;
}

	.modal-button-menu-white:focus {
		outline: 0;
	}
/* ---------- Modal --------------- */
/* ---------- END --------------- */

/* ---------- Tooltip --------------- */
.grey-tooltip + .tooltip > .tooltip-inner {
	background-color: #c1bdc3;
	max-width: 75px;
}

.grey-tooltip + .tooltip > .tooltip-arrow {
	border-top-color: #c1bdc3;
}
/* ---------- Tooltip --------------- */
/* ----------   END   --------------- */

/* ---------- Scrollbar --------------- */
.scroll5::-webkit-scrollbar {
	width: 15px;
}

.scroll5::-webkit-scrollbar-thumb {
	background: #4472c4;
	border: 2px #315599 solid;
	border-radius: 10px;
}

.scroll5::-webkit-scrollbar-track {
	background: #ddd;
	border: 2px #ddd solid;
	border-radius: 10px;
}

.scroll5::-webkit-scrollbar-button {
	background: #4472c4;
	height: 15px;
	border-radius: 50%;
}

.login-alert {
	margin: 10px 10%;
}
/* ---------- Scrollbar --------------- */
/* ----------    END    --------------- */


/* ---------- Check boxy --------------- */
/* The container */
.check-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 15px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	/* Hide the browser's default checkbox */
	.check-container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #c1bdc3;
	border: 1px solid #c1bdc3;
	border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
	background-color: #4472c4;
	border: 1px solid #4472c4;
	border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* ---------- Check boxy --------------- */
/* ----------     END    --------------- */

.border-to-members {
	border: dotted 2px #4472c4;
	border-radius: 10px
}

.marging-top-bottom-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.marging-top-10 {
    margin-top: 10px;
}

.marging-top-7 {
	margin-top: 7px;
}
.margin-top-15-right-5 {
    margin-top: 15px;
    margin-right: 5px;
}


a.display-none {
	visibility: hidden;
}

visible-hidden {
	visibility: hidden;
	border: 0px;
}

.marging-withoutleft-10 {
	margin-top: 10px;
	margin-bottom: 10px;
}

border-0 {
	border-style: none;
}

hidden-avatar-image {
	width: 0px;
	height: 0px;
}

show-avatar-image {
	width: 35px;
	height: 35px;
}

img.avatar {
	display: none;
}


img[src].avatar {
	display: block;
}

.employee-list-item {
	height: 50px;
	width: calc(100% - 20px);
	margin: 5px 10px;
	border: solid 2px transparent;
	border-radius: 10px;
	padding: 3px 0;
}

	.employee-list-item:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}

	.employee-list-item.border-to-members {
		border: dotted 2px #4472c4;
		border-radius: 10px;
	}

.text-overflow-ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.inline {
	display: inline-block;
	margin: 0 5px;
	vertical-align: middle;
}

.text-container {
	width: calc(100% - 70px);
}

.loading-panel {
	background-color: rgba(0, 0, 0, 0.1);
	width: calc(100% - 30px);
	height: calc(100% - 55px);
	position: absolute;
	z-index: 10;
	top: 55px;
	left: 15px;
	border-radius: 25px;
	border: 6px solid transparent;
}

	.loading-panel.task {
		width: calc(100% + 30px);
		height: calc(100% + 30px);
		top: 0;
		left: 0;
	}

	.task .loading-circle{
		margin-top: 50%;
	}
.loading-circle {
	border: 16px double #f3f3f3;
	border-top: 16px double #4472c4;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	margin-left: calc(50% - 70px);
	margin-top: calc(25% - 60px);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
