@model ProjektIP.Models.EmployeeModel
<script>
    function changePosition() {
        var value = $("#position").val();
        $("#positionId").val(value);
        var imagepath = "avatar" + value + ".png";
        document.getElementById("avatarForm").src = "../Content/Image/" + imagepath;
        console.log(imagepath);
        validateField(document.getElementById("positionId"));

    }
</script>
<div class="row">
    <form id="partialViewForm" action="/Employee/PushAddEmployeeToDB" method="post" autocomplete="off">
        <div class="col-md-7">
            <div>
                <h4>Dane osobowe:</h4>
                <input class="form-control control-margin" type="text" name="name" placeholder="Imię" data-validationRules="required,maxLength20" onchange="validateField(this)" />
                <span asp-validation-for="Name" data-validator="name" class="text-danger"></span>
                <input class="form-control control-margin" type="text" name="surname" placeholder="Nazwisko" data-validationRules="required,maxLength50" onchange="validateField(this)" />
                <span asp-validation-for="SurName" data-validator="surname" class="text-danger"></span>
                <input class="form-control control-margin" type="text" name="email" placeholder="E-mail" data-validationRules="required,maxLength50,mail" onchange="validateField(this)" />
                <span asp-validation-for="Email" data-validator="email" class="text-danger"></span>

                <input class="form-control control-margin" type="text" name="phone" placeholder="Telefon" data-validationRules="maxLength15,numbers"  onchange="validateField(this)" />
                <span asp-validation-for="Phone" data-validator="phone" class="text-danger"></span>
                <div hidden>
                    <input asp-for="PositionId" name="positionId" id="positionId" data-validationRules="required" class="form-control" />
                </div>
                <select class="custom-select form-control control-margin" onchange="changePosition()" id="position">
                    <option value="" disabled selected>Stanowisko:</option>
                    <option value="1">Kierownik</option>
                    <option value="2">Programista</option>
                    <option value="3">Tester</option>
                    <option value="4">Grafik</option>
                    <option value="5">Projektant</option>
                    <option value="6">Analityk</option>
                    <option value="7">Administrator bazy danych</option>
                </select>
                <span asp-validation-for="PositionId" data-validator="positionId" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-5">
            <img id="avatarForm" src="~/Content/Image/avatar_null.png" width="300" height="300" class="border-corners" />
        </div>
        <div class="col-md-12">
            <hr />
            <h4>Wybierz uprawnienia:</h4>
            <div class="margin-left-20">
                <div class="row">
                    <label class="check-container">
                        Dodanie nowego pracownika
                        <input type="checkbox" value="true" name="addNewEmpleyeePermission" id="addNewEmployee">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="row">
                    <label class="check-container">
                        Dodanie nowego zadania
                        <input type="checkbox" value="true" name="addNewTaskPermission" id="addNewTask">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="row">
                    <label class="check-container">
                        Dodanie nowego wydarzenia
                        <input type="checkbox" value="true" name="addNewEventPermission" id="addNewEvent">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="row">
                    <label class="check-container">
                        Podgląd innych pracowników
                        <input type="checkbox" value="true" name="previewEmployeesPermission" id="previewEmployees">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>
